# Data Reading and writing

In [2]:
import pandas as pd

In [3]:
# 6.1.1  Reading

df = pd.read_csv("C:/Users/welcome/Desktop/python/Hypertension_dataset.csv")
df

,PermanentResidence,sex,Age,Maritalstatus,Educationalstatus,Religiousaffiliation,Ethnicity,Occupation,Familysize,averagemonthlyincome,...,drink,kchat,fruit,vegetables,fat,salt,Mode_Transport,History_HTN,Hisory_DM,Wealthindex_cat
0,2,1,75,2,5,3,1,3,5,2800,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,3.0
1,2,2,31,4,1,1,1,6,3,500,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,2,2,35,2,1,1,1,4,7,1000,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0
3,2,1,34,2,5,2,1,1,4,1000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,3.0
4,2,1,38,2,5,1,2,1,4,1000,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,1,1,55,3,1,2,2,3,2,2000,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,3.0
608,1,1,52,2,1,4,6,2,3,800,...,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0
609,1,1,40,2,5,1,1,1,5,3000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,4.0
610,1,2,36,2,4,2,2,1,5,1500,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,4.0
611,1,2,65,4,1,2,5,3,7,5500,...,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,3.0

In [6]:
# 6.1.2  Removing header
df = pd.read_csv("C:/Users/welcome/Desktop/python/Hypertension_dataset.csv", header= None)
df

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,PermanentResidence,sex,Age,Maritalstatus,Educationalstatus,Religiousaffiliation,Ethnicity,Occupation,Familysize,averagemonthlyincome,...,drink,kchat,fruit,vegetables,fat,salt,Mode_Transport,History_HTN,Hisory_DM,Wealthindex_cat
1,2,1,75,2,5,3,1,3,5,2800,...,0.00,0.00,1.00,1.00,1.00,0.00,1.00,0.00,1.00,3.00
2,2,2,31,4,1,1,1,6,3,500,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
3,2,2,35,2,1,1,1,4,7,1000,...,0.00,0.00,1.00,1.00,0.00,0.00,1.00,0.00,0.00,2.00
4,2,1,34,2,5,2,1,1,4,1000,...,0.00,0.00,1.00,1.00,0.00,0.00,2.00,0.00,0.00,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,1,1,55,3,1,2,2,3,2,2000,...,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,3.00
609,1,1,52,2,1,4,6,2,3,800,...,0.00,0.00,0.00,1.00,0.00,1.00,2.00,0.00,0.00,1.00
610,1,1,40,2,5,1,1,1,5,3000,...,0.00,0.00,1.00,1.00,0.00,0.00,2.00,0.00,0.00,4.00
611,1,2,36,2,4,2,2,1,5,1500,...,0.00,0.00,1.00,1.00,1.00,0.00,1.00,1.00,1.00,4.00
612,1,2,65,4,1,2,5,3,7,5500,...,1.00,0.00,0.00,0.00,1.00,0.00,2.00,0.00,0.00,3.00

In [7]:
# Reading specific rows
df = pd.read_csv("C:/Users/welcome/Desktop/python/Hypertension_dataset.csv", nrows= 3)
df

,PermanentResidence,sex,Age,Maritalstatus,Educationalstatus,Religiousaffiliation,Ethnicity,Occupation,Familysize,averagemonthlyincome,...,drink,kchat,fruit,vegetables,fat,salt,Mode_Transport,History_HTN,Hisory_DM,Wealthindex_cat
0,2,1,75,2,5,3,1,3,5,2800,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,3.0
1,2,2,31,4,1,1,1,6,3,500,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,2,2,35,2,1,1,1,4,7,1000,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0

In [9]:
# Reading the data from specific row

df = pd.read_csv("C:/Users/welcome/Desktop/python/Hypertension_dataset.csv", skiprows= 2)
df

,2,2.1,31,4,1,1.1,1.2,6,3,500,...,0.00.1,0.00.2,0.00.3,0.00.4,0.00.5,0.00.6,1.00.1,0.00.7,0.00.8,1.00.2
0,2,2,35,2,1,1,1,4,7,1000,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0
1,2,1,34,2,5,2,1,1,4,1000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,3.0
2,2,1,38,2,5,1,2,1,4,1000,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0
3,2,2,38,2,5,2,2,1,4,3000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,4.0
4,2,2,38,2,4,4,4,3,4,2000,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,1,1,55,3,1,2,2,3,2,2000,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,3.0
606,1,1,52,2,1,4,6,2,3,800,...,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0
607,1,1,40,2,5,1,1,1,5,3000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,4.0
608,1,2,36,2,4,2,2,1,5,1500,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,4.0
609,1,2,65,4,1,2,5,3,7,5500,...,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,3.0

In [11]:
df = pd.read_csv("C:/Users/welcome/Desktop/python/Hypertension_dataset.csv", header= 5)
df

,2,1,38,2.1,5,1.1,2.2,1.2,4,1000,...,0.00.1,0.00.2,1.00.2,1.00.3,1.00.4,0.00.3,1.00.5,0.00.4,0.00.5,2.00
0,2,2,38,2,5,2,2,1,4,3000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,4.0
1,2,2,38,2,4,4,4,3,4,2000,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0
2,2,1,31,2,5,1,1,1,4,3000,...,0.0,0.0,1.0,1.0,1.0,0.0,2.0,1.0,0.0,1.0
3,2,2,38,2,3,1,1,4,7,2500,...,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,3.0
4,2,2,34,2,4,2,7,3,4,1000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,1,1,55,3,1,2,2,3,2,2000,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,3.0
603,1,1,52,2,1,4,6,2,3,800,...,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0
604,1,1,40,2,5,1,1,1,5,3000,...,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,4.0
605,1,2,36,2,4,2,2,1,5,1500,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,4.0
606,1,2,65,4,1,2,5,3,7,5500,...,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,3.0

In [3]:
df = pd.read_csv("C:/Users/welcome/Desktop/python/Hypertension_dataset.csv", na_values= ["na","not available"])
df

NameError: name 'pd' is not defined